{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Home</a> <i>&rsaquo;</i> Customers</div>


<div class="title-1"><i class="fas fa-user"></i>Customers Activos</div>
<div class="title-line"></div>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}


<!-- <form class="search-form">
    <ul>
        <li class="space-between"><input class="form-control" type="text" name="name" placeholder="Name"></li>
        <li class="space-between"><input class="form-control" type="text" name="email" placeholder="Email"></li>
        <li class="space-between"><input class="form-control" type="text" name="course" placeholder="Course"></li>
        <button class="search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </ul>
</form> -->
<div class="table-responsive table-shadow table-light table-striped m-0 mt-5">
    <table class="table">
        <thead>
            <tr>
                <th> Account N°. </th>
                <th> Full Name </th>
                <th> Email </th>
                <th> Saldo </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.bankaccount.etiqueta }}</td>
                <td><a href="{% url 'add_payment' user.id %}">{{ user.nombre_completo }}</a></td>
                <td>{{ user.email }}</td>
                <!-- Mostrar el saldo actual -->
                <td>{{ user.current_balance }}$</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
