{% load static %}
<div class="content-dinamic">
    <main>
        <h1>Reportes</h1>
        <div class="cards">
            <!-- Contenido reportes -->
            <div class="card-single">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Depósitos</a>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
            </div>
            <div class="card-single">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Retiros</a>
                </div>
                <div>
                    <span class="las la-donate"></span>
                </div>
            </div>
            <div class="card-single">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Ingresos</a>
                </div>
                <div>
                    <span class="las la-piggy-bank"></span>
                </div>
            </div>
            <div class="card-single">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Todo</a>
                </div>
                <div>
                    <span class="lab la-google-wallet"></span>
                </div>
            </div>
        </div>
        
        <div class="recent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-outline-primary">PDF</button>
                        <button type="button" class="btn btn-outline-secondary">CSV</button>
                        <button type="button" class="btn btn-outline-success">Imprimir</button>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <td>Id</td>
                                    <td>Fecha</td>
                                    <td>Descripción</td>
                                    <td>Cantidad</td>
                                    <td>Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 01 </td>
                                    <td> 13/06/23-08:05am </td>
                                    <td> Depósito: "José Alvarez"</td>
                                    <td> 50$ </td>
                                    <td>
                                        <span class="status">Confirmado</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 02 </td>
                                    <td> 13/06/23-09:20am </td>
                                    <td> Depósito: "Miguel Gutierrez"</td>
                                    <td> 245$ </td>
                                    <td>
                                        <span class="status">Confirmado</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>