{% load static %}
<style>
  #logo_footer > a > img {
    width: 120px;
    height: 30px;
    margin: 10px 0;
  }
</style>
<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
            <div id="logo_footer"><a href="/home"><img src="{% static 'images/SmartConsultingHorizontal.png' %}" alt=""></a></div>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h3>Legal</h3>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>SMART XPERT CONSULT</span></strong>. All Rights Reserved
    </div>
    
  </div>
</footer><!-- End Footer -->