{% load static %}
<div class="content-dinamyc">
    <main class="d-flex flex-column align-items-center">
        <h1>Retiros</h1>
        <div class="custom-input-group mb-3 d-flex align-items-center">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
        </div>
        <button type="button" class="btn btn-outline-success">Retirar</button>
    </main>
</div>

