
{% block content %}

<div class="col-md-10 mx-auto col-lg-5">
  <div class="wrapper">
    <span class="icon-close"><ion-icon name="close"></ion-icon></span>
    <form action="/login/" method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
      <h2>Login</h2>
      {% if form.errors %}
        <ul class="errorlist">
        {% for field_errors in form.errors.values %}
          {% for error in field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
        </ul>
      {% endif %}
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input type="text" required name="email_or_username" class="form-control" id="floatingInput" placeholder="Username or Email">
        <label for="email_or_username">Username or Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" required name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
      <hr class="my-4">
      <div class="login-register">
        <p>Don't have an account? <a href="/register" class="register-link">Register</a></p>
      </div>
    </form>
  </div>
</div>

{% endblock %}
