{% load static %}
<div class="content-dinamic">
    <main>
        <div class="cards">
            <!-- Contenido del estado de cuenta -->
            <div class="card-single">
                <div>
                    <h1>54</h1>
                    <span>Depósitos</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>79</h1>
                    <span>Retiros</span>
                </div>
                <div>
                    <span class="las la-donate"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>124</h1>
                    <span>Ingresos</span>
                </div>
                <div>
                    <span class="las la-piggy-bank"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>$650</h1>
                    <span>Saldo</span>
                </div>
                <div>
                    <span class="lab la-google-wallet"></span>
                </div>
            </div>
        </div>
        
        <div class="recent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Ingresos Recientes</h3>
                        <button>See all <span class="las la arrow-right"></span></button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>Id</td>
                                        <td>Fecha</td>
                                        <td>Descripción</td>
                                        <td>Cantidad</td>
                                        <td>Status</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 01 </td>
                                        <td> 13/06/23-08:05am </td>
                                        <td> Depósito: "José Alvarez"</td>
                                        <td> 50$ </td>
                                        <td>
                                            <span class="status">Confirmado</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 02 </td>
                                        <td> 13/06/23-09:20am </td>
                                        <td> Depósito: "Miguel Gutierrez"</td>
                                        <td> 245$ </td>
                                        <td>
                                            <span class="status">Confirmado</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>